<div class="product-list-item" (click)="onSelectItem()">
    <img src="{{imageUrl}}" class="mainImage">
    <div class="product-info">
        <p class="paragraphName">{{name}}</p>
        <p class="shortDescription">
            Etiam aliquet tempus ligula quis placerat. Nulla sit amet auctor nunc. Suspendisse sem massa, pharetra at
            ligula
            id, rhoncus iaculis eros. Maecenas non rutrum quam. Donec suscipit et metus posuere lobortis. Proin eu
            lacinia
            ipsum, sed volutpat urna. Vestibulum cursus sit amet purus at blandit. Mauris aliquam ipsum metus, ut cursus
            tellus consequat vitae. Ut a sapien rutrum, maximus ligula in, mollis purus. Pellentesque vel feugiat diam,
            quis
            finibus odio. Suspendisse potenti. Aenean sed eros libero.
        </p>
        <p class="paragraphPrice">{{price}} zł</p>
    </div>
</div>