<h4 class="categoryTitle">Lista kategorii</h4>
<ul class="categoryList">
    <li class="categoryItem" *ngFor="let category of categories">
        <span class="categoryName">{{category.name}}</span>
        <span class="categoryActions">
            <button class="btn btn-edit" (click)="onEditCategory(category.id)">Edytuj</button>
            <button class="btn btn-delete" (click)="onDeleteCategory(category.id)">Usuń</button>
        </span>
    </li>
</ul>

<h4 class="newCategoryTitle">{{isEditing ? 'Edytuj kategorię' : 'Dodaj nową kategorię'}}</h4>
<form [formGroup]="addCategoryForm" (ngSubmit)="onSubmit()">
    <div class="inputCategoryName">
        <label for="categoryName">Nazwa kategorii: </label>
        <input type="text" name="categoryName" formControlName="categoryName" placeholder="Komputery">
    </div>
    <div class="buttonsSection">
        <button class="btn btn-submit" type="submit">{{isEditing ? 'Zapisz' : 'Dodaj kategorię'}}</button>
        <button class="btn btn-clear" (click)="onClear($event)">{{isEditing ? 'Cofnij' : 'Wyczyść'}}</button>
    </div>
</form>