<div class="custom-container">
  <div class="card">
    <h4>Rejestracja</h4>
    <form [formGroup]="signUpForm">
      <div>
        <!-- <label class="test" for="name">Imię:</label> -->
        <input
          id="firstname"
          type="text"
          placeholder="Imię"
          formControlName="firstname"
          [ngClass]="{
            'input-invalid':
              signUpForm.get('firstname').touched &&
              signUpForm.get('firstname').invalid
          }"
        />
      </div>
      <div>
        <!-- <label for="surname">Nazwisko:</label> -->
        <input
          id="lastname"
          type="text"
          placeholder="Nazwisko"
          formControlName="lastname"
          [ngClass]="{
            'input-invalid':
              signUpForm.get('lastname').touched &&
              signUpForm.get('lastname').invalid
          }"
        />
      </div>

      <div>
        <!-- <label for="email">Adres email:</label> -->
        <input
          id="email"
          type="text"
          placeholder="Adres e-mail"
          formControlName="email"
          [ngClass]="{
            'input-invalid':
              signUpForm.get('email').touched && signUpForm.get('email').invalid
          }"
        />
      </div>

      <div>
        <!-- <label for="password">Hasło:</label> -->
        <input
          id="password"
          type="password"
          placeholder="Hasło"
          formControlName="password"
          [ngClass]="{
            'input-invalid':
              signUpForm.get('password').touched &&
              signUpForm.get('password').invalid
          }"
          [tooltip]="
            signUpForm.get('password').touched &&
            signUpForm.get('password').invalid
              ? 'Hasło musi zawierać co najmniej 8 znaków, w tym jedną cyfrę, jedną dużą literę i jeden znak specjalny.'
              : ''
          "
        />
        <p class="password-hint">
          Hasło musi zawierać co najmniej 8 znaków, w tym jedną cyfrę, jedną
          dużą literę i jeden znak specjalny.
        </p>
      </div>
      <div class="controls">
        <button
          class="button"
          (click)="onRegisterHandler()"
          [disabled]="signUpForm.invalid"
        >
          Zarejestruj
        </button>
        <div class="links">
          <p><a routerLink="../login">Chcesz się zalogować?</a></p>
        </div>
      </div>
    </form>
  </div>
</div>
