label {
  width: 7rem;
  display: inline-block;
}

.card {
  display: flex;
  margin: 2rem;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40rem;
  width: 25rem;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  h4 {
    margin-bottom: 1.5rem;
  }
}

form input {
  margin: 0.25rem;
  padding: 0.5rem;
}

.controls .links {
  margin-top: 2rem;
}

.links p {
  padding: 0.2rem;
}
