label {
  width: 7rem;
  display: inline-block;
}

.registerCard {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--addtional);
  border: var(--border-primary);
  border-radius: 20px;
  height: 40rem;
  width: 25rem;
}

form input {
  margin: 0.25rem;
  padding: 0.5rem;
}

.controls .links {
  margin-top: 2rem;
}

.links p {
  padding: 0.2rem;
}
