<div class="custom-container">
  <div class="row mb-3 filters-container">
    <!-- ITEMS PER PAGE -->
    <div class="col-auto filter-item">
      <label for="itemsPerPage" class="form-label">Ilość:</label>
      <select
        id="itemsPerPage"
        [(ngModel)]="itemsPerPage"
        (change)="getPageableProducts()"
        class="form-select numbers"
      >
        <option [value]="5">5</option>
        <option [value]="10">10</option>
        <option [value]="15">15</option>
        <option [value]="20">20</option>
      </select>
    </div>

    <!-- SORT BY -->
    <div class="col-auto filter-item">
      <label for="sortBy" class="form-label">Sortuj po:</label>
      <select
        id="sortBy"
        [(ngModel)]="sortBy"
        (change)="getPageableProducts()"
        class="form-select words"
      >
        <option value="name">Nazwa</option>
        <option value="price">Cena</option>
      </select>
    </div>

    <!-- ORDER BY -->
    <div class="col-auto filter-item">
      <label for="orderBy" class="form-label">Kolejność:</label>
      <select
        id="orderBy"
        [(ngModel)]="order"
        (change)="getPageableProducts()"
        class="form-select words"
      >
        <option value="asc">Rosnąco</option>
        <option value="dsc">Malejąco</option>
      </select>
    </div>

    <!-- CATEGORY -->
    <div class="col-auto filter-item">
      <label for="category" class="form-label">Kategoria:</label>
      <select
        id="category"
        [(ngModel)]="category"
        (change)="getPageableProducts()"
        class="form-select words"
      >
        <option value="All">Wszystkie</option>
        <option
          *ngFor="let category of avalibleCategories"
          [value]="category.name"
        >
          {{ category.name }}
        </option>
      </select>
    </div>

    <!-- MIN PRICE -->
    <div class="col-auto filter-item">
      <label for="minPrice" class="form-label" tooltip="Minimalna cena"
        >Min. cena:</label
      >
      <input
        type="number"
        id="minPrice"
        [(ngModel)]="minPrice"
        (input)="getPageableProducts()"
        class="form-control numbers"
        placeholder="0"
      />
    </div>

    <!-- MAX PRICE -->
    <div class="col-auto filter-item">
      <label for="maxPrice" class="form-label" tooltip="Maksymalna cena"
        >Maks. cena:</label
      >
      <input
        type="number"
        id="maxPrice"
        [(ngModel)]="maxPrice"
        (input)="getPageableProducts()"
        class="form-control numbers"
        placeholder="1000"
      />
    </div>
  </div>

  <!-- PAGINATION -->
  <div class="d-flex justify-content-center">
    <pagination
      [boundaryLinks]="true"
      [totalItems]="totalAmountOfItems"
      [itemsPerPage]="itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>

  <!-- PRODUCTS LIST SECTION -->
  <div class="productsList">
    <loading-spinner *ngIf="isLoading" />

    <ng-container *ngIf="products.length > 0 && !isLoading">
      <app-product-item
        *ngFor="let productEl of products"
        [id]="productEl.id"
        [product]="productEl"
      >
      </app-product-item>
    </ng-container>

    <div *ngIf="products.length === 0 && !isLoading">
      <h2>Nie znaleziono produktów!</h2>
      <p>Spróbuj zmienić filtry wyszukiwania.</p>
    </div>
  </div>

  <!-- PAGINATION -->
  <div
    class="d-flex justify-content-center"
    *ngIf="products.length > 0 && !isLoading"
  >
    <pagination
      [boundaryLinks]="true"
      [totalItems]="totalAmountOfItems"
      [itemsPerPage]="itemsPerPage"
      (pageChanged)="pageChanged($event)"
      [(ngModel)]="currentPage"
      [maxSize]="10"
      previousText="&lsaquo;"
      nextText="&rsaquo;"
      firstText="&laquo;"
      lastText="&raquo;"
    >
    </pagination>
  </div>
</div>
