<div class="container">
  <div class="pagination">
    <button
      (click)="changePage(currentPage - 1, pageSize)"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <span>Page {{ currentPage }} of {{ totalPages }}</span>
    <button
      (click)="changePage(currentPage + 1, pageSize)"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
    <label for="pageSize">Page size:</label>
    <select
      #pageSize
      name="pageSize"
      (change)="changePage(currentPage, pageSize.value)"
    >
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>

    <label for="category">Category:</label>
    <select #category name="pageSize" (change)="changeCategory(category.value)">
      <option value="All" [defaultSelected]="true">Wszystkie</option>
      <option
        *ngFor="let category of avalibleCategories"
        [value]="category.name"
      >
        {{ category.name }}
      </option>
    </select>
  </div>
  <div class="productsList">
    <loading-spinner *ngIf="isLoading" />

    <ng-container *ngIf="products.length > 0 && !isLoading">
      <app-product-item
        *ngFor="let productEl of products"
        [id]="productEl.id"
        [name]="productEl.name"
        [price]="productEl.price"
        [photos]="productEl.photos"
        [mainPhotoId]="productEl.mainPhotoId"
      >
      </app-product-item>
    </ng-container>
  </div>
</div>
