.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

.productsList {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  justify-content: center;
  width: 70vw;
}
