.container {
}

.productsList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 3rem;
  justify-content: center;
  width: 70vw;
}

.pagination {
  display: flex;
  flex-direction: column;
}

.price {
  width: 50px;
}
