<div style="width: 80vw;">
    <tabset>
        <tab heading="Zarządzanie produktami">
            <app-admin-products></app-admin-products>
        </tab>
        <tab heading="Zarządzanie kategoriami">
            <app-admin-categories></app-admin-categories>
        </tab>
    </tabset>
</div>
<!-- <div class="controlsPanel">
    <button class="btn" (click)="onProductsButton()">Zarządzanie produktami</button>
    <button class="btn" (click)="onCategoriesButton()">Zarządzanie kategoriami</button>
</div>
<router-outlet></router-outlet> -->