<div class="categories">
  <a [routerLink]="['/products']" [queryParams]="{ category: 'Laptopy' }"
    ><i class="fa-solid fa-laptop"></i><span class="title">Laptopy</span></a
  >
  <a [routerLink]="['/products']" [queryParams]="{ category: 'Smartfony' }"
    ><i class="fa-solid fa-laptop"></i><span class="title">Smartfony</span></a
  >
  <a [routerLink]="['/products']" [queryParams]="{ category: 'Gaming' }"
    ><i class="fa-solid fa-gamepad"></i><span class="title">Gaming</span></a
  >
  <a [routerLink]="['/products']" [queryParams]="{ category: 'TV' }"
    ><i class="fa-solid fa-tv"></i><span class="title">Telewizory</span></a
  >
  <a [routerLink]="['/products']" [queryParams]="{ category: 'Akcesoria' }"
    ><i class="fa-solid fa-keyboard"></i><span class="title">Akcesoria</span></a
  >
</div>
