.categories {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: whitesmoke;
  height: 2.5rem;

  a {
    display: flex;
    align-items: center;
    margin: 0 5px;
    padding: 2px 30px;
    border-left: 2px solid #dddddd;
    border-right: 2px solid #dddddd;
    transition: all 0.3s ease-in-out;

    // OLD STYLES
    // border-radius: 6px;
    // border: 2px solid rgba(221, 221, 221, 0.6);
    // background-color: #ffffff;
  }

  a:hover {
    scale: 1.1;
    transform: translateY(2px);
  }

  i {
    margin-right: 10px;
    font-size: 1.2rem;
  }
}
