<div class="navbar">
  <a class="logoContainer" routerLink="/">
    <!-- <p>navbar works!</p> -->
    <img class="logoImg" src="../../../../assets/vm-com.png" />
  </a>
  <div class="searchContainer d-flex align-items-center">
    <input
      #searchInput
      name="search"
      type="text"
      placeholder="Czego szukasz?"
      class="form-control me-1 searchInput"
      (input)="onSearch($event)"
    />
    <div class="spacer"></div>
    <div class="dropdown me-1">
      <button class="dropdownSearchButton">
        {{ searchCategory }}
      </button>
      <div class="dropdownContent">
        <a (click)="onChangeCategory($event)">Wszystkie</a>
        <a (click)="onChangeCategory($event)">Laptopy</a>
        <a (click)="onChangeCategory($event)">Smartfony</a>
        <a (click)="onChangeCategory($event)">Gaming</a>
        <a (click)="onChangeCategory($event)">TV</a>
        <a (click)="onChangeCategory($event)">Akcesoria</a>
      </div>
    </div>
    <div class="btnSearch">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div
      #searchResultsContainer
      class="searchResults"
      *ngIf="searchResults.length"
    >
      <ul class="product-list">
        <a
          *ngFor="let product of searchResults"
          [routerLink]="['/product', product.id]"
          class="product-item"
        >
          <img
            [src]="this.API_IMG + product.photos[product.mainPhotoId]"
            alt="{{ product.name }}"
            class="product-image"
          />
          <div class="product-info">
            <h5 class="product-name">{{ product.name }}</h5>
            <p class="product-price">{{ product.price }} zł</p>
          </div>
        </a>
      </ul>
    </div>
  </div>
  <div class="buttonsContainer">
    <a
      class="buttonIcon"
      routerLink="admin"
      *hasRole="['ROLE_ADMIN']"
      tooltip="Panel administracyjny"
      placement="bottom"
    >
      <i class="fa-solid fa-user-tie fa-lg" style="color: #853030"></i>
    </a>

    <!-- TODO: IF USER ROLE === ADMIN -->
    <a
      class="buttonIcon"
      routerLink="profile"
      *ngIf="user"
      tooltip="Profil użytkownika"
      placement="bottom"
    >
      <div><i class="fa-solid fa-user fa-lg"></i></div>
    </a>
    <a class="buttonLogin" routerLink="login" *ngIf="!user">
      <div>
        <span>Cześć,</span>
        <span>zaloguj się</span>
      </div>
      <div><i class="fa-solid fa-user fa-lg"></i></div>
    </a>
    <!-- <div class="btn btn-primary m-1" routerLink="register" *ngIf="!user">
      Register
    </div> -->

    <a
      class="buttonIcon"
      routerLink="help"
      tooltip="Potrzebujesz pomocy?"
      placement="bottom"
    >
      <i class="fa-solid fa-headphones fa-lg"></i>
    </a>
    <a
      class="buttonIcon"
      routerLink="favorites"
      tooltip="Ulubione produkty"
      placement="bottom"
    >
      <i class="fa-solid fa-heart fa-lg"></i>
    </a>
    <a class="buttonIcon" routerLink="cart" tooltip="Koszyk" placement="bottom">
      <i class="fa-solid fa-cart-shopping fa-lg"></i>
      <span class="cartCount" *ngIf="cartCount">{{ cartCount }}</span>
    </a>
    <a
      class="buttonIcon"
      (click)="logout()"
      *ngIf="user"
      tooltip="Wyloguj!"
      placement="bottom"
    >
      <i class="fa-solid fa-right-from-bracket fa-lg"></i>
    </a>
  </div>
</div>
