.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(255, 206, 161);
  height: 3rem;
}

.logoContainer {
  cursor: pointer;
}

.logoImg {
  height: 3rem;
}

.searchInput {
  height: 2.25rem;
  border: none;
  border-radius: 6px;
}

.btn {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: whitesmoke;
}

//DROPDOWN MENU
.dropdown {
  position: relative;
  display: inline-block;
}

.btnDropdown {
  width: 5rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: whitesmoke;
  border-radius: 6px;
  min-width: 8rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: #dddddd;
}

.dropdown:hover .dropdownContent {
  display: block;
}
