@import "/src/app/styles/variables.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $nav-background-color;
  height: 4rem;
}

.logoContainer {
  cursor: pointer;
}

.logoImg {
  height: 3rem;
}

.searchInput {
  height: 2.25rem;
  border: none;
  border-radius: 6px;
}

.btn {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: $nav-button-background-color;
  color: $button-main-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.btn:hover {
  opacity: 0.85;
  transform: translateY(-2px);
  // background-color: $nav-button-hover-background-color;
}

//DROPDOWN MENU
.dropdown {
  position: relative;
  display: inline-block;
}

.btnDropdown {
  width: 5rem;
}

.dropdownContent {
  display: none;
  position: absolute;
  background-color: $dropdown-background-color;
  border-radius: 6px;
  min-width: 8rem;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdownContent a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
}

.dropdownContent a:hover {
  background-color: dropdown-hover-background-color;
}

.dropdown:hover .dropdownContent {
  display: block;
}

.searchContainer {
  position: relative;

  .searchResults {
    position: absolute;
    top: 3rem;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    max-height: 15rem;
    overflow-y: auto;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        padding: 0.5rem 1rem;
        cursor: pointer;
        transition: background-color 0.2s, transform 0.1s;

        &:hover {
          background-color: #f0f0f0;
          transform: translateX(2px);
        }
      }
    }
  }
}
