<div class="navbar">
    <div class="logoContainer" routerLink="/">
        <!-- <p>navbar works!</p> -->
        <img class="logoImg" src="../../../../assets/vm-com.png">
    </div>
    <div class="searchContainer">
        <input name="search" type="text" placeholder="Czego szukasz?" class="searchInput">


        <div class="dropdown">
            <button class="btn btnDropdown">{{searchCategory}}</button>
            <div class="dropdownContent">
                <a href="#" (click)="onChangeCategory($event)">Laptopy</a>
                <a href="#" (click)="onChangeCategory($event)">Smartfony</a>
                <a href="#" (click)="onChangeCategory($event)">Gaming</a>
                <a href="#" (click)="onChangeCategory($event)">TV</a>
                <a href="#" (click)="onChangeCategory($event)">Akcesoria</a>
            </div>
        </div>

        <button class="btn">SEARCH</button>


    </div>
    <div>
        <button class="btn" routerLink="login">Login</button>
        <button class="btn" routerLink="register">Register</button>
        <button class="btn" routerLink="cart">Koszyk</button>
    </div>
</div>