<div class="loginCard">
    <form [formGroup]="signInForm">
        <div>
            <!-- <label for="email">Adres email:</label> -->
            <input id="email" type="text" placeholder="Adres e-mail" formControlName="email" />
        </div>

        <div>
            <!-- <label for="password">Hasło:</label> -->
            <input id="password" type="password" placeholder="Hasło" formControlName="password" />
        </div>
        <div class="controls">
            <button class="g-btn" (click)="onLoginHandler()">Zaloguj</button>
            <div class="links">
                <p><a href="#">Nie pamiętasz hasła?</a></p>
                <p><a routerLink="../register">Utwórz nowe konto</a></p>
            </div>
        </div>

    </form>
</div>