// Variables for the app
// Font
$main-font-family: Arial, sans-serif;
$main-font-color: #333;
// Background
$main-background-color: #fafafa;
// Buttons
$button-background-color: #007bff;
$button-hover-background-color: #0056b3;
$button-main-color: white;
$nav-button-background-color: #007bff;
$nav-button-hover-background-color: #0056b3;
// Navbar colors
$nav-background-color: #7dbcff;
$dropdown-background-color: whitesmoke;
$dropdown-hover-background-color: #dddddd;
