<!-- <h3>Product ID: {{id}}</h3> -->
<div class="container">
    <loading-spinner *ngIf="isLoading"></loading-spinner>
    <ng-container *ngIf="!isLoading">
        <div class="titleContainer">
            <div class="infoSection">
                <div>
                    <h2>{{product.name}}</h2>
                </div>
                <div>
                    <h4>Cena: {{product.price}} zł</h4>
                </div>
                <div class="btnContainer">
                    <button class="btn" (click)="onBuyProduct()">Dodaj do koszyka!</button>
                </div>
            </div>
            <div class="imageSection">
                <button class="btn" (click)="onPreviousImage()">Poprzednie zdjęcie</button>
                <p>{{selectedImage + 1}} / {{product.photos.length}}</p>
                <img [src]="imageUrl" alt="{{product.name}}" class="gallery"
                    (click)="onImageClick(API_IMG + product.photos[selectedImage])">
                <button class="btn" (click)="onNextImage()">Następne zdjęcie</button>
            </div>
        </div>
        <div class="descriptionContainer">
            <h3>Specyfikacja produktu:</h3>
            <hr>
            <pre>{{product.description}}</pre>
        </div>
    </ng-container>
</div>