<div class="loginCard">
    <form>
        <div>
            <label for="email">Adres email:</label>
            <input id="email" type="text" />
        </div>

        <div>
            <label for="password">Hasło:</label>
            <input id="password" type="password" />
        </div>
        <div>
            <button>Zaloguj</button>
            <p><a href="#">Nie pamiętasz hasła?</a></p>
            <p><a routerLink="../register">Utwórz nowe konto</a></p>
        </div>
    </form>
</div>