<div class="cards-container">
    <div class="card login-card">
        <h4>Zaloguj się</h4>
        <form [formGroup]="signInForm">
            <div>
                <!-- <label for="email">Adres email:</label> -->
                <input id="email" type="text" placeholder="Adres e-mail" formControlName="email" />
            </div>

            <div>
                <!-- <label for="password">Hasło:</label> -->
                <input id="password" type="password" placeholder="Hasło" formControlName="password" />
            </div>
            <div class="controls">
                <button class="btn" (click)="onLoginHandler()">Zaloguj</button>
                <div class="links">
                    <p><a routerLink="#">Nie pamiętasz hasła?</a></p>
                    <!-- <p><a routerLink="../register">Utwórz nowe konto</a></p> -->
                </div>
            </div>

        </form>
    </div>
    <div class="card register-card">
        <div>
            <h4>Potrzebujesz konta?</h4>
            <h5>Benefity z posiadania konta:</h5>
            <ul>
                <li>Łatwe zarządzanie zamówieniami</li>
                <li>Śledzenie statusu zamówienia</li>
                <li>Łatwe zarządzanie danymi</li>
                <li>Możliwość zapisania ulubionych produktów</li>

            </ul>
        </div>

        <div class="links">
            <button class="btn" routerLink="../register">Utwórz darmowe konto</button>
        </div>

    </div>
</div>