label {
  width: 7rem;
  display: inline-block;
}

.loginCard {
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fafafa;
  border: 2px solid rgba(128, 128, 128, 0.2);
  border-radius: 20px;
  height: 40rem;
  width: 25rem;
}

form input {
  margin: 0.25rem;
  padding: 0.5rem;
}

.controls .links {
  margin-top: 2rem;
}

.links p {
  padding: 0.2rem;
}
