<h4>Zarządzanie produktami</h4>
<h5>Lista produktów:</h5>
<p *ngFor="let product of products">{{product.name}} [{{product.id}}]</p>
<h5>Dodaj nowy produkt</h5>

<form [formGroup]="addProductForm" (ngSubmit)="onSubmit()">
    <div>
        <input type="text" name="productName" placeholder="Nazwa produktu" formControlName="productName">
    </div>
    <div>
        <input type="text" name="productDescription" placeholder="Opis produktu" formControlName="productDescription">
    </div>
    <div>
        <input type="text" name="productPrice" placeholder="Cena" formControlName="productPrice">
    </div>
    <div>
        <select name="productCategory" formControlName="productCategory">
            <option value="category1">Kategoria 1</option>
            <option value="category2">Kategoria 2</option>
            <option value="category3">Kategoria 3</option>
        </select>
    </div>
    <div>
        <button type="submit">Dodaj</button>
        <button (click)="onClear()">Wyczyść</button>
    </div>
</form>