<h4 class="subtitle">Zarządzanie produktami</h4>
<div class="form-item">
    <h5>Lista produktów:</h5>
    <p *ngFor="let product of products">{{product.name}} [{{product.id}}]</p>
</div>

<h4 class="subtitle">Dodaj nowy produkt</h4>
<form [formGroup]="addProductForm" (ngSubmit)="onSubmitNew()">
    <div class="form-item">
        <label for="productName">Nazwa: </label>
        <div>
            <input type="text" name="productName" placeholder="Nazwa produktu" formControlName="productName">
        </div>
    </div>
    <div class="form-item">
        <label for="productDescription">Opis: </label>
        <div>
            <textarea type="text" rows="20" cols="50" name="productDescription" placeholder="Opis produktu"
                formControlName="productDescription"></textarea>
            <div>
                {{characterCount}} / 8000
            </div>
        </div>
    </div>
    <div class="form-item">
        <label for="productPrice">Cena: </label>
        <div>
            <input type="number" min="0" step="0.01" name="productPrice" placeholder="Cena"
                formControlName="productPrice">
        </div>
    </div>

    <div class="form-item">
        <label for="productAmount">Ilość: </label>
        <div>
            <input type="number" min="0" step="1" name="productAmount" placeholder="Amount"
                formControlName="productAmount">
        </div>
    </div>

    <div class="form-item">
        <label for="productImage">Zdjęcie: </label>
        <div>
            <input type="file" name="productImage" placeholder="Cena" formControlName="productImage"
                (change)="onAddFile($event)">
        </div>
    </div>
    <div class="form-item">
        <select name="productCategory" formControlName="productCategory">
            <option *ngFor="let category of categories" [value]="category.id">{{category.name}}</option>
        </select>
    </div>
    <div class="form-item">
        <button class="btn" type="submit">Dodaj</button>
        <button class="btn" (click)="onClear()">Wyczyść</button>
    </div>
</form>