/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";

@import "src/app/styles/variables.scss";

* {
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: $main-font-family;
  color: $main-font-color;
}

body {
  background-color: $main-background-color;
}

.g-btn {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: $button-background-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.g-btn:hover {
  background-color: $button-hover-background-color;
}

a {
  text-decoration: none;
  color: black;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2em;
  box-sizing: border-box;
}

.btn {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: $button-background-color;
  color: $button-main-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: opacity 0.3s, transform 0.3s;
}

.btn:hover {
  color: $button-main-color;
  opacity: 0.85;
  transform: translateY(-2px);
  background-color: $button-background-color;
}

.btn:active {
  background-color: red;
}
