<div class="container">
  <div class="card w-100">
    <div class="card-header">
      <h4 class="card-title mb-0">Profil użytkownika</h4>
    </div>

    <!---------------------->
    <!--- FORM USER DATA --->
    <!---------------------->
    <div class="card-body">
      <form [formGroup]="userForm" (ngSubmit)="saveUserChanges()">
        <div *ngIf="editModeUser; else displayModeUser">
          <h5>Dane osobowe</h5>
          <div class="mb-3">
            <label for="firstName" class="form-label">Imię</label>
            <input
              id="firstName"
              formControlName="firstName"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input
              id="lastName"
              formControlName="lastName"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="email" class="form-label">Adres e-mail</label>
            <input
              id="email"
              formControlName="email"
              type="email"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Telefon</label>
            <input
              id="phoneNumber"
              formControlName="phoneNumber"
              type="text"
              class="form-control"
            />
          </div>

          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="userForm.invalid"
          >
            Zapisz
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="toggleEditUser()"
          >
            Anuluj
          </button>
        </div>

        <!-- -------------------->
        <!-- DISPLAY USER DATA -->
        <!-- -------------------->
        <ng-template #displayModeUser>
          <h5>Dane osobowe</h5>
          <p><strong>Imię:</strong> {{ userForm.get("firstName")?.value }}</p>
          <p>
            <strong>Nazwisko:</strong> {{ userForm.get("lastName")?.value }}
          </p>
          <p>
            <strong>Adres e-mail:</strong> {{ userForm.get("email")?.value }}
          </p>
          <p>
            <strong>Telefon:</strong> {{ userForm.get("phoneNumber")?.value }}
          </p>
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleEditUser()"
          >
            Edytuj dane
          </button>
        </ng-template>
      </form>
    </div>
    <hr />

    <!------------------------>
    <!-- FORM USER PASSWORD -->
    <!------------------------>
    <div class="card-body">
      <h5>Dane konta</h5>
      <div *ngIf="editModePassword; else displayModePassword">
        <form [formGroup]="passwordForm" (ngSubmit)="savePasswordChanges()">
          <div class="mb-3">
            <label for="oldPassword" class="form-label">Stare hasło</label>
            <input
              id="oldPassword"
              formControlName="oldPassword"
              type="password"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="newPassword" class="form-label">Nowe hasło</label>
            <input
              id="newPassword"
              formControlName="newPassword"
              type="password"
              class="form-control"
            />
          </div>
          <div class="mb-3">
            <label for="confirmPassword" class="form-label"
              >Powtórz hasło</label
            >
            <input
              id="confirmPassword"
              formControlName="confirmPassword"
              type="password"
              class="form-control"
            />
          </div>

          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="passwordForm.invalid"
          >
            Zapisz
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="toggleEditPassword()"
          >
            Anuluj
          </button>
        </form>
      </div>

      <!---------------------------->
      <!-- PASSWORD CHANGE BUTTON -->
      <!---------------------------->
      <ng-template #displayModePassword>
        <div class="buttonsContainer">
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleEditPassword()"
          >
            Zmień hasło
          </button>
          <button
            type="button"
            class="btn btn-primary"
            (click)="toggleEditPassword()"
            disabled
          >
            Zmień adres e-mail
          </button>
        </div>
      </ng-template>
    </div>
    <hr />

    <!-- -------------------->
    <!-- FORM USER ADDRESS -->
    <!-- -------------------->
    <div class="card-body">
      <h5>Adresy do wysyłki</h5>
      <button
        type="button"
        class="btn btn-primary mb-3"
        (click)="showFormNewAddress()"
      >
        Dodaj nowy adres
      </button>
      <div class="address-cards">
        <div
          class="address-card"
          *ngFor="let address of addresses; let i = index"
          (click)="selectAddress(i)"
          [ngClass]="{ selected: i === selectedAddressIndex }"
          tooltip="Kliknij, aby edytować"
        >
          <p><strong>Imię:</strong> {{ address.firstName }}</p>
          <p><strong>Nazwisko:</strong> {{ address.lastName }}</p>
          <p><strong>Ulica:</strong> {{ address.street }}</p>
          <p><strong>Miasto:</strong> {{ address.city }}</p>
          <p><strong>Kod pocztowy:</strong> {{ address.zipCode }}</p>
          <p><strong>Telefon:</strong> {{ address.phoneNumber }}</p>
        </div>
      </div>

      <form [formGroup]="addressForm" (ngSubmit)="saveAddressChanges()">
        <div *ngIf="editModeAddress">
          <h5 class="addresFormTitle">
            {{ addNewAddressMode ? "Dodaj nowy adres" : "Edytuj adres" }}
          </h5>
          <div class="mb-3">
            <label for="firstName" class="form-label">Imię</label>
            <input
              id="firstName"
              formControlName="firstName"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="lastName" class="form-label">Nazwisko</label>
            <input
              id="lastName"
              formControlName="lastName"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="street" class="form-label">Ulica</label>
            <input
              id="street"
              formControlName="street"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="city" class="form-label">Miasto</label>
            <input
              id="city"
              formControlName="city"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="zipCode" class="form-label">Kod pocztowy</label>
            <input
              id="zipCode"
              formControlName="zipCode"
              type="text"
              class="form-control"
            />
          </div>

          <div class="mb-3">
            <label for="phoneNumber" class="form-label">Telefon</label>
            <input
              id="phoneNumber"
              formControlName="phoneNumber"
              type="text"
              class="form-control"
            />
          </div>

          <button
            type="submit"
            class="btn btn-success me-2"
            [disabled]="addressForm.invalid"
          >
            Zapisz
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            (click)="cancelAddressForm()"
          >
            Anuluj
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
