.container {
  display: block;
  height: 500px;
  width: 500px;
  padding: 2em;
}

.section {
  margin-top: 4rem;
  padding: 2rem;
  border: 1px solid rgb(235, 235, 235);
  background-color: rgb(241, 241, 241);
  border-radius: 6px;
}

.newProductsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.title {
  // font-size: 20px;
  // font-weight: bold;
  // border: 1px solid black;
  text-align: center;
  margin-bottom: 2rem;
}

.newProductsControls {
  display: flex;
  justify-content: center;
}

.btn {
  margin: 0.25rem;
  padding: 0.5rem;
  background-color: rgb(156, 156, 156);
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 50%;
  height: 50px;
}

.btn:hover {
  background-color: rgb(133, 133, 133);
}
